body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
 text-align: center;   
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav > a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #00b8e6bd;
}

figcaption {
  text-align: center;
  font-size: 14px;
}

#featured-property > p {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 700px;
}

#details {
  display: block;
}

#details > div {
  float: left;
  width: 25%;
  background-color: #00b8e6bd;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}